* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../img/background-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #e6e6e6;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signature {
  font-size: 5rem;
  font-family: "Herr Von Muellerhoff", cursive;
  text-align: center;
  margin-bottom: 25px;
}

.headline {
  font-size: 3rem;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}

.tagline {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials a img {
  width: 50px;
  height: 50px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .headline {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 425px) {
  .signature {
    font-size: 3.5rem;
  }
  .headline {
    font-size: 1.75rem;
  }
  .tagline {
    font-size: 1rem;
  }
  .socials a img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 375px) {
  body {
    background-image: url("../img/background-mobile.png");
  }
  .headline,
  .tagline {
    width: 95%;
  }
}
